.nav-category:hover {
	cursor: pointer;
}
.nav-category li li {
	padding-left: 1rem;
}
a:not([href]):not([class]) {
	color: #593196;
}
a:not([href]):not([class]):hover {
	color: #593196;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}