<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases >
  		<typeAlias alias="ShopVo" type="com.bit.backpackers.shop.model.entity.ShopVo"/>
  		<typeAlias alias="CategoryVo" type="com.bit.backpackers.category.model.entity.CategoryVo"/>
  		<typeAlias alias="ProductVo" type="com.bit.backpackers.product.model.entity.ProductVo"/>
  		<typeAlias alias="ImageVo" type="com.bit.backpackers.image.model.entity.ImageVo"/>
  		<typeAlias alias="OrderedProductVo" type="com.bit.backpackers.order.model.entity.OrderedProductVo"/>
  		<typeAlias alias="OrderVo" type="com.bit.backpackers.order.model.entity.OrderVo"/>
  		<typeAlias alias="ItemVo" type="com.bit.backpackers.item.model.entity.ItemVo"/>
  		<typeAlias alias="OptionVo" type="com.bit.backpackers.option.model.entity.OptionVo"/>
  		<typeAlias alias="CartProductVo" type="com.bit.backpackers.cart.model.entity.CartProductVo"/>
  		<typeAlias alias="ShopAdminVo" type="com.bit.backpackers.admin.shop.model.entity.ShopVo"/>
  		<typeAlias alias="ReviewVo" type="com.bit.backpackers.shop.model.entity.ReviewVo"/>
  	</typeAliases>
  </configuration>